@tailwind base;
@tailwind components;
@tailwind utilities;

/* 🔥 Kill scrollbar everywhere (all browsers) */

/* Chrome, Edge, Safari */
*::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

/* Firefox */
* {
  scrollbar-width: none;
}

/* IE/old Edge */
* {
  -ms-overflow-style: none;
}